.infobar-container {
  position: sticky; /* scroll karte time upar chipka rahe */
  top: 0;
  width: auto;
  max-width: 100%;
  z-index: 9999; /* header ke upar rahe */
  border-radius: 0; /* curved hataya, fully straight */
}

.ant-alert {
  background-color: #000000 !important; /* black background */
  border: 1px solid #000000 !important; /* subtle border */
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.ant-alert-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* icon aur text ke beech gap */
}
