.featured-properties-horizontal {
  padding: 20px;
  
}

/* HEADER */
.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.scroll-buttons button {
  border: none;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

/* SCROLL */
.featured-scroll-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.featured-scroll-container::-webkit-scrollbar {
  display: none;
}

/* CARD */
.featured-card {
  min-width: 240px;
  background: transparent;
  width: 100px;
}

/* IMAGE */
.card-image {
  position: relative;
  height: 150px;
  border-radius: 18px;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  border-radius: 50%;
  border: none;
  padding: 6px;
  cursor: pointer;
}

/* DETAILS */
.card-details {
  padding: 10px 4px;
}
.card-details h3 {
  font-size: 14px;
  margin-bottom: 4px;
}
.location {
  font-size: 12px;
  color: #666;
  margin-bottom: 4px;
}

/* DESCRIPTION */
.description {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
  max-height: 36px;
  overflow: hidden;
}
.description.expanded {
  max-height: 200px;
}
.see-more {
  font-size: 12px;
  color: #007bff;
  cursor: pointer;
}

/* FOOTER */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.unit {
  font-size: 11px;
  color: #888;
}
