.benefits-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
  margin-top: -250px;
}

.benefits-title {
  margin-bottom: 6px;
}

.benefits-divider {
  font-size: 18px;
  color: #999;
  margin-bottom: 10px;
}

.benefits-subtitle {
  display: block;
  color: #555;
  margin-bottom: 40px;
}

.benefits-row {
  margin-top: 20px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-box {
  width: 90px;
  height: 90px;
  background:  #1976d2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.icon-box .anticon {
  font-size: 36px;
  color: #fff;
}

.benefit-text {
  font-size: 14px;
  color: #222;
  line-height: 1.5;
}
