.main-wrapper {
  width: 100%;
  padding: 70px 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* HEADER */
.section-header {
  width: 1100px;
}

.breadcrumb {
  font-size: 13px;
  color: #ff7a00;
  font-weight: 500;
  margin-bottom: 6px;
}

.main-heading {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

/* CARD */
.property-layout {
  position: relative;
  width: 1100px;
  height: 290px;
  display: flex;
  align-items: center;
}

/* IMAGE */
.image-container {
  width: 350px;
  height: 270px;
  border: 1px solid rgb(227, 222, 222);
  border-radius: 22px;
  overflow: hidden;
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DETAILS BOX */
.details-container {
  position: absolute;
  left: 260px;
  width: 790px;
  height: 245px;
  background: #ffffff;
  border:1px solid rgb(239, 235, 235);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 55px;
  box-shadow: 0 2px 45px rgba(0, 0, 0, 0.05);
}

/* COLUMNS */
.details-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 220px;
}

.last-col {
  justify-content: space-between;
}

.divider {
  width: 1px;
  height: 70%;
  background: #e8e8e8;
}

/* TEXT */
.small-text {
  font-size: 11px;
  letter-spacing: 1.2px;
  color: #999;
}

.property-title {
  font-size: 16px !important;
  line-height: 1.4 !important;
  margin: 0 !important;
  min-height: 44px;
  max-height: 44px;
  overflow: hidden;
}

.price-text {
  font-size: 18px !important;
  margin: 0 !important;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13.5px;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
  color: #1677ff;
  margin-top: 10px;
}

/* BUTTON */
.book-btn {
  background: #000;
  color: #fff;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s ease;
}

.book-btn:hover {
  background: #222;
}

/* DESCRIPTION */
.description-container {
  width: 1100px;
  margin: -40px auto 30px auto;
  display: flex;
  justify-content: center;
  animation: slideDown 0.4s ease;
}

.description-box {
  width: 850px;
  background: #ffffff;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
