/* .searchbar-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  background: #f5f5f5;
}

.searchbar-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 12px 15px;
  border-radius: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  gap: 15px;
}

.search-item {
  display: flex;
  flex-direction: column;
  min-width: 170px;
}

.search-item label {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 6px;
}

.custom-input {
  border: none;
  font-size: 15px;
  
}

.custom-datepicker {
  width: 140px;
}

.guest-input {
  width: 70px;
}

.divider {
  width: 1px;
  height: 40px;
  background: #e5e5e5;
}

.search-button {
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #c7c7c7 !important;
} */
